// COLORS
$dark: #2c2d30;
$white: #F5F5F5;
$green: #38ef7d;
$red: #FF6B6B;
$grad: linear-gradient(to top, #2067E2, #20C8E2
);
$grad-title: linear-gradient(to top, #2067E2, #20C8E2
);
$grad2: linear-gradient(to top, #B9B9B9, #F1F1F1
);
$green-grad: linear-gradient(to top, #4A995C, #38ef7d
);
$red-grad: linear-gradient(to top, #B73636, #FF6B6B
);

$grey: linear-gradient(to top, #616161, #424141); 


// FONTS
$title: 'Fascinate';
$text: 'Raleway';
