header {
  color: white;
  background-color: #2c2d30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  min-height: 125px;
}

.user-controls {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.instructions-shown {
  background-color: rebeccapurple;
}