header {
  color: #12c2e9;
  background: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  min-height: 125px;
 

  h1 {
    animation: color-change 12s infinite;
    padding-left: 50px;
    font-family: $title;
    font-size: 50px;
  }

  select {
    width: 248px;
    height: 30px;
    font-family: $text;
    font-size: 15px;
    outline: none;
    text-align: center;
    margin: 15px 0px 20px 0px;
  }

  button {
    @include instructions-button
  }
}

.toggle-instructions-btn {
  @include instructions-button;
}

.user-controls {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  align-items: center;
}

// ICON STYLE
.fas {
  color: $grad-title
}

@keyframes color-change {
  0% {
    color: #9F3FB2;
    transform: scale(1);
  }


  50% {
    color: #CB53A3;
    transform: scale(1.08);
  }

  100% {
    color: #9F3FB2;
    transform: scale(1);
  }
}

@media screen and (max-width: 1199px) {
  .user-controls {
    button {
      margin: 5px;
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;

    h1 {
      padding: 0;
      margin: 10px;
    }
  }
  .user-controls {
    padding: 0;
      button {
          margin: 5px 0;
          font-size: 15px;
          width: 155px;
      }
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 500px) {
    header {
      h1 {
      font-size: 38px;
    }
  }
    .user-controls {
      padding-bottom: 10px;
        button {
            font-size: 12px;
            width: 135px;
       }
  }
}
  

@media screen and (max-width: 375px) {
    header {
      h1 {
      font-size: 33px;
      margin: 5px;
    }
  }
}