header {
  color: #12c2e9;
  background: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  min-height: 125px;
 

  h1 {
    animation: color-change 12s infinite;
    padding-left: 50px;
    font-family: 'Fascinate';
    font-size: 45px;
  }
}

.user-controls {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.instructions-shown {
  background-color: rebeccapurple;
}

.fas {
  color: $grad2
}

@keyframes color-change {
  0% {
    color: #ef32d9;
    transform: scale(1);
  }


  50% {
    color: #00dbde;
    transform: scale(1.08);
  }

  100% {
    color: #ef32d9;
    transform: scale(1);

  }
}