.question-card {
  width: 500px;
  border-radius: 15px;
  border: 2px solid $dark;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  color: whitesmoke;

  p {
    width: 285px;
    text-align: center;
  }

  button {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    margin: 10px;
    &:hover {
        background: linear-gradient(to right, #E100FF, #7F00FF);
        color: #FFF;
        cursor: pointer;
    }
  }
}

.answer-btns {
  display: flex;
  flex-direction: column;
}

